<div class="py2 post-footer">
  <img src="https://gravatar.com/avatar/8f153df2b0c02161ba0ab0fca111afdb.jpg?s=160" alt="Vincent Martel" class="avatar" />
  <p>
    Vincent Martel is a software developer who is wildly interested in connecting various things, making them communicate with each other while making them useful for us, humans.
  </p>
  <p>
Otherwise, he is also really interested in arts, sports, culture, and life in its general form!
 </p>
  <p>
    Follow him on <a href="https://twitter.com/pkvince">Twitter</a>.
  </p>
</div>
