.g-profile {
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
    height: 80px;
    width: 80px;
}
.g-profile .pic {
    background-image: url(https://gravatar.com/avatar/8f153df2b0c02161ba0ab0fca111afdb.jpg?s=160);
    background-size: 80px 80px;
    border: none;
    vertical-align: top;
    height: 80px;
    width: 80px;
}
.share-links a {
  background-image: none;
  text-shadow: none;
}

#instagram {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -.5vw;
  margin-left: -.5vw;
  margin-right: -.5vw;
}

#instagram a {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: calc(100%/3);
  -ms-flex-preferred-size: calc(100%/3);
  flex-basis: calc(100%/3);
  line-height: 0;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  border: .5vw solid transparent;
  background: transparent;
}

#instagram img {
    width: 100%;
}

#instagram a:hover {
    opacity: 1 !important;
}

#instagram:hover a {
    opacity: .8;
}

@media screen and (min-width: 1450px) {
  #instagram a {
    -webkit-flex-basis: calc(100%/4);
    -ms-flex-preferred-size: calc(100%/4);
    flex-basis: calc(100%/4);
  }
}

@media screen and (min-width: $viewport-small) {
    .g-profile {
        display: inline-block;
        margin: 0 20px 0 0;
        float: left;
    }
    .site-title {
        line-height: 80px;
    }
}
