---
layout: default
permalink: /blog/
tags: blog
---

<div class="blog">
  {% for cat in site.categories %}
  <h3 class="h3 post-title">{% cat %}</h3>
  <div class="posts">
    {% for post in cat %}
      <div class="post py3">
        <p class="post-meta">{{ post.date | date: site.date_format }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
